* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
*.ino text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.jpeg binary
